Data/Hyperpartisan/.DS_Store
Data/.DS_Store
Data/Hyperpartisan/articles-training-byarticle-20181122.xml
Data/Hyperpartisan/ground-truth-training-byarticle-20181122.xml
.DS_Store
Data/.DS_Store
Data/Hyperpartisan/ground-truth-training-bypublisher-20181122.xml
Data/Hyperpartisan/articles-training-bypublisher-20181122.xml
Data/Hyperpartisan/output.csv
Data/Hyperpartisan/output.tsv
Data/Hyperpartisan/output.txt
Data/Hyperpartisan/output_pub.tsv
Data/Hyperpartisan/.ipynb_checkpoints/Hyperpartisan-checkpoint.ipynb
Data/Hyperpartisan/__pycache__/nlp.cpython-37.pyc
Data/Hyperpartisan/__pycache__/features.cpython-37.pyc
Data/Hyperpartisan/__pycache__/htmlparser.cpython-37.pyc
Data/Hyperpartisan/__pycache__/preprocessing.cpython-37.pyc
Data/Hyperpartisan/__pycache__/processingresources.cpython-37.pyc
Data/Hyperpartisan/__pycache__/utils.cpython-37.pyc
Data/Metaphors/.ipynb_checkpoints/Methaphors-checkpoint.ipynb
Data/Metaphors/__pycache__/util.cpython-37.pyc
